@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Kdam+Thmor+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Kdam+Thmor+Pro&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }



  .boton-eliminar{
    margin-right: 1rem;

  }
  #carrito-contenedor{
    max-height: 15rem;
    overflow-y: scroll;
  }
  
  body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background: #f2f2f2;
    background-size: cover;
    
  }

  body img{
    pointer-events: none;
  }


.container_all{
    position: relative;
    right: 0;
    transition: all 300ms;
}


header{
    width: 100%;

    height: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-image: url(/images/bg-screen.png);
    background-size: cover;
    position: fixed;
    right: 0;
    z-index: 4;
    padding: 30px;
    transition: all 300ms;
}

.move_content{
    right: 180px;
}


.container__header{
    margin-left: 2.8%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
    
}


.logo img{
    width: 130px;
    margin-top: -25px;
}

.logo h3{
    font-size: 25px;
    margin-top: 4px;
    padding: 5px;
    color: #0bfe2b;
}

.logo h2{
    color: #F1FAFF;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container__nav{
    position: relative;
    height: 100%;
    margin-left: 1%;
    
}

nav{
    height: 100%;
  
    
}



nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 25px;
    margin-left: 5%;
}

nav ul li a{
    color: #fff;
    font-size: 17px;
    
}

nav ul li:hover

{
    background-color: #00ff00;
    transition: 0.8s;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}






.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}

/*COVER*/

.main{
    background-image: url(/images/bg-screen.png);
    background-size: cover;
    width: auto;
    height: auto;
    padding-bottom: 120px;
    background-size: cover;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    
}


  /*WAVE FINAL*/

.container-main{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    background-size: cover;
    background-position: bottom;
}



.main .container__info{
    max-width: 400px;
    margin-top: 40px;
    
    z-index: 2;
}




.main h1{
    
    margin-bottom: 15px;
    max-width: 400px;
    font-size: 55px;
    font-weight: 900;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;   
}

.main h2{
    width: 600px;
    margin-bottom: 14px;
    font-size: 55px;
    font-weight: 900;
    color: #0bfe2b;
    margin-top: -28px;
    padding-bottom: 0.3rem;
    font-family: 'Roboto Condensed', sans-serif;   

}
.main h3{
    width: 600px;
   
    font-size: 55px;
    font-weight: 900;
    color: #fff;
    margin-top: -34px;
    font-family: 'Roboto Condensed', sans-serif;   

}


.container__info p{
    margin-top: 10px;
    
    color: #fff;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    
}

.main button{
    
    padding: 10px 40px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #15ff00;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    animation: move_vector 5s ease-in-out infinite;
    

}



.container-logo{
    position: relative;
}

.container-logo img {
    position: absolute;
    bottom: 10px;
    top: -185px;
    right:-160px;
    width: 890px;
    transition: all 300ms;
    animation: move_vector 4s ease-in-out infinite;
    }


.parrafos p{
    font-size: 50px;
}





/* TEXT RUNNING */

.running{
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 55px;
    justify-content: center;
    background-color: #0c1a11;


   
    
}

.runningProducts{
    display: flex;
    margin-top: 7%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 55px;
    justify-content: center;
    background-color: #0c1a11;
}



marquee {
    display: inline-block;
    /* font-size: 40px; */
}


marquee p{
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: -80px;
    font-size: 28px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    
}

marquee img{
    position: relative;
    top: 7px;
    
}


@keyframes move_vector{
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}



/* SECCION DE PRODUCTS  */


.prooductsSection{
    background-image: url(/images/fondo2.png);
    background-size: cover;
    width: 103%;
    height: auto;
    
    right: 11px;
    padding-top: 50px;
    
    position: relative;
    overflow: hidden;
    
}


.titlePro{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;   
    font-size: 55px;
    
    padding-bottom: 20px;
    color: #EFF3F5;
    
    
}


.cart img{
    width: 2rem ;
    color: white;
}

.cart:hover{
    background-color: none;
}









select {
  margin-top: 1rem;
  width: 18rem;
  font-size: 1.2rem;
  border-radius: 15px;
}

select>option {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.473);
  color: rgba(0, 0, 0, 0.781);  
  font-size: 1rem;
  font-family: 'Kdam Thmor Pro', sans-serif;

}


















/* Estilos de la parte agregar elementos nuevos */

.modal {
    width: 30rem;
    height: 28rem;
    border-radius: 25px;
    border: 5px solid #1eff00a6;
    background-color: #040404;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 15rem;
    padding: 50px;
    z-index: 2;
    display: none;
  }
  
  #new-product{
      margin-top: 2rem;
  }
  
  
  #btn-new-create{
      margin-top: 1rem;
  }
  
  .modal>input {
    width: 23rem;
    height: 3rem;
    margin: 2.5px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
  }
  

  
  #new-image{
      background-color: rgb(255, 255, 255);
      color: #000000a8;
      height: 2.9rem;
      font-size: 0.96rem;
      font-weight: bold;
  }
  #new-image2{
      background-color: rgb(255, 255, 255);
      color: #00000088;
      height: 2.9rem;
      font-size: 0.96rem;
      font-weight: bold;
  }
  
  
  input:hover{
    background-color: #1eff00a6;
    color: #000000;
  }
  
  /* input tipo file dentro de .modal */
  .modal input[type="file"] {
    display: flex;
    width: 23rem;
    height: 2.5rem;
    padding: 7px;
    border-radius: 15px;
    border: 2px solid black;
    color: #ffff;
    font-size: 1rem;
  }
  
  
  .modal>button {
    width: 12rem;
    height: 3rem;
    border-radius: 15px;
    background-color: #1eff00a6;
    font-weight: bold;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .modal>button:hover {
    background-color: #1eff00a6;
    font-weight: 900;
    color: #ffffff;
  }
  
  #close-modal {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #1eff00a6;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1.8rem;
    right: 1rem;
  }
  
  #close-modal:hover{
      color: white;
  }
  
  
  




/* seccion de selects */


#select-products {

  height: 2rem;
  color: #ffffff;
  text-align: center;
  background-color: transparent;

}

#filterXPrice {
  height: 2rem;
  color: #ffffff;
  text-align: center;
  background-color: transparent;

}

#filterXCategorie {

  height: 2rem;
  color: #ffffff;
  text-align: center;
  background-color: transparent;

}


#btn-create {
  height: 2rem;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  margin-top: 1rem;
  width: 18rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 1px solid rgb(93, 93, 93);
}





.selected-products {

  text-align: center;
  height: 100%;
}


.desplegable {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 0.1%;
}









#container__card {
  width: 100%;
  height: auto;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}









/* SECCION DE COMPRAS  */


/* --------------------RESPONSIVE------------ */






/* ESTILOS CARTAS */

.container__card{
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  
}

.card{
  width: 400px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  transition: all 300ms;
  /* border-radius: 20px; */
}


.card:hover .info__description{
  margin-top: 0;
  transition-delay:0.4s;

  /* border-radius: 20px 20px 20px 20px; */

}

.card:hover .icon {
  margin-top: -10px;
  /* border-radius: 20px 20px 20px 20px; */
}

.icon img{
    border-radius: 19px;
    width: 100%;
    height: 220px;
}

.icon {
   
    /* background-image: url(/images/Diseño\ sin\ título.png); */
    object-fit: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
    /* align-items: flex-end; */
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}
.icon  i{
    width: 50%;
    margin-left: -97%;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: all 400ms cubic-bezier(0.5,0,0,1);

 }



.nameCard{
  
  width: 50%;
  margin-left: -97%;
  margin-top: 3%;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
  transition: all 400ms cubic-bezier(0.5,0,0,1);
}


.info__description{
    width: 99%;
    height: 218px;
    color: #474747;
    background: #EFF3F5;
    padding: 20px;
    margin-left: 0.5%;
    margin-top: -219px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description .infoP{
    font-size: 15px;
    margin-top: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;

    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 6;
    line-clamp: 5;
    overflow: hidden;
}

.info__description input{
    margin-top: 15px;
    padding: 10px 40px;
    background: #2bff00;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description input:hover{
    box-shadow: 1px 1px 30px -5px #20202070;

}


.info__description button{
    margin-top: -110%;
    margin-left: 55%;
    display: flex;
    width: 45%;
    height: 20%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;   
    background-color: #27e202ef;
    
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;

    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
  }



  
.infoPrecio{
    /* flex-direction: row; */
    margin-bottom: 100%;
    width: 40%;
    height: 20%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 14px;

    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
  }


 

.container-product{
    /* display: flex; */
    position: relative;
    background-color: #00ff00;
    border-radius: 23px;
    width: 1.2rem;
    height: 1.4rem;
    z-index: 2;
    margin-top: -28px;

    margin-left: 20px;

}


.container-product p{
    
    color: white;
    margin-left: 5px;
    margin-top: -5px;
}




  @media screen and (max-width: 1020px){

    
    
    .container-main img{
        display: none;
    }

    .container-main h1{
        max-width: 600px;
    }

}
.añadirP{
    font-size: 50px;
}

.running{
    width: 103%;
}
@media screen and (min-width: 1400px){


    .container__header nav{
       margin-left: 30%;
    }
    
    .container-logo img{
        
            position: absolute;
            bottom: 10px;
            top: -205px;
            right:-350px;
            width: 1000px;
            transition: all 300ms;
            animation: move_vector 4s ease-in-out infinite;
            }
        
    .logo{
        margin-left: 60px;
    }   
    header .logo img{
        width: 120px;
    }

    .container__nav .seccion{
        font-size: 20px;
    }
    .container-main{
        margin-left: 6%;
    }
.main  .container__info h1{
    font-size: 70px;
}
.main  .container__info h2{
    font-size: 70px;
}
.main  .container__info h3{
    font-size: 70px;
}
.main  .container__info p{
    max-width: 700px;
    font-size: 30px;
}





}


@media screen and (min-width: 1900px){

   

    .main {

        width: 103%;
        padding-bottom: 235px;
    }


    
    .container__header nav{
        margin-left: 80%;
     }
     
     .container-logo img{
         
             position: absolute;
             bottom: 10px;
             top: -245px;
             right:-750px;
             width: 1200px;
             transition: all 300ms;
             animation: move_vector 4s ease-in-out infinite;
             }
         


     .main .container__info{
                 margin-top: 100px;
                 margin-bottom: -60px;
             }

     .logo{
         margin-left: 60px;
     }   
     header .logo img{
         width: 120px;
     }
 
     .container__nav .seccion{
         font-size: 20px;
     }
     .container-main{
         margin-left: 6%;
         
     }
 .main  .container__info h1{
     font-size: 70px;
 }
 .main  .container__info h2{
     font-size: 70px;
 }
 .main  .container__info h3{
     font-size: 70px;
 }
 .main  .container__info p{
     width: 600px;
     font-size: 30px;
 }
 
 #container__card{
 
     margin-left: -20px;
 
 }
 
 
 
 }


